<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <title>Comanda {{comanda.id}}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: var(--bs-primary);">
        <div class="container-fluid">
            <div style="display: flex; align-items: center;">
            <a class="navbar" href="/">
            <img src="/static/img/logo_espetinho.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
            </a>
            <h1><a href="/" style="color: #000; text-decoration: none; margin-left: 5px;"> Flask Espetinho</a></h1>
            </div>
            
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/produto">Produtos</a>
                </li>
            </ul>
        </div>
    </nav>

    {% for categoria, mensagem in get_flashed_messages(with_categories=true) %} <!--for no dicionario de flash-->
        <div class="alert alert-{{ categoria }} alert-dismissible fade show"> <!--classe com base na categoria de flash danger, success, alert-->
            {{ mensagem }}
            <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
    <div class="container mt-4">
     <div class="card-body">
            <h3 class="text-center mb-4">
                Comanda #{{comanda.id}}
            </h3>

        <div class="row mt-4">
            <div class="col">
                <div class="card p-3">
                    <p>Cliente - {{comanda.cliente}}</p>
                    <p>Mesa - {{comanda.mesa}}</p>
                    <p>Status - {{comanda.status}}</p>
                    <p>Horário de abertura - {{comanda.horarioPedido.strftime("%H:%M")}}</p>
                </div>
            </div>
        </div>
                <div class="row mt-4">
            <div class="col">
                <div class="card p-3" style="margin-top: 1rem;">
                    <h5>Total</h5>               
                    <p>
                        R$ {{comanda.total}}</p>
                </div>
                
                <div class="card p-3" style="margin-top: 1rem;">
                    <h5>Tempo aberta</h5>               
                    <p>{{tempo_aberta}}</p>
                </div>
                <div class="card p-3" style="margin-top: 1rem;">
                    <h5>Itens</h5>               
                    {% for item in comanda.pedido %}
                        <table>
                            <thead>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Preço unitário</th>
                                <th>SubTotal</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <td>{{ item.nome }}</td>
                                <td>{{ item.quantidade }}</td>
                                <td>R$ {{ item.valor_unitario }}</td>
                                <td>R$ {{item.subtotal }}</td>
                                <td>                        
                                    <a href="#"
                                    class="btn btn-warning btn-sm">
                                        Editar
                                    </a>
                                    <a href="#"
                                        class="btn btn-danger btn-sm">
                                        Excluir
                                    </a>
                                </td>
                            </tbody>
                        </table>
                    {% endfor %}
                    
                    {%if comanda.status != "Cancelada" %}

                    <form class="was-validated" novalidate="" style="padding: 20px;" method="post"> 
                        <table class="table table-hover mt-4">
                            <thead class="table-dark">
                                    <th></th>
                                    <th>Nome do produto</th>
                                    <th>Preço unitário</th>
                                    <th>Quantidade</th>
                            </thead>
                            <tbody>
                                    {% for produto in produtos %}
                                    
                                    <tr>
                                        <td>{{ produto.id}}</td>
                                        <td>{{ produto.nome }}</td>
                                        <td>R$ {{ produto.preco_venda }}</td>
                                        <td>
                                            <input 
                                                type="number"
                                                min="0"
                                                value="0"
                                                class="form-control"
                                                name="quantidade_{{ produto.id }}"
                                            >                                                    
                                        </td>
                                
                                    </tr>
                                    {% endfor %}
                                
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-success btn-sm" style="padding: 10px; border-radius: 10px;"> <h6>Adicionar</h6> </button>
                        </div>        
                    </form> 
                    {%else %}
                    <p>Não é possível adicionar itens em uma comanda cancelada</p>
                    {%endif%}

                </div>
            </div>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
