<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <title>Editar Produto</title>
</head>

<body class="container mt-4">

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: var(--bs-primary);">
        <div class="container-fluid">
            <div style="display: flex; align-items: center; padding-left: 20px;">
            <a class="navbar" href="/">
            <img src="/static/img/logo_espetinho.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
            </a>
            <h1><a href="/" style="color: #000; text-decoration: none; margin-left: 5px;"> Flask Espetinho</a></h1>
            </div>
        </div>
    </nav>
    
    <div class="card shadow">
        <div class="card-body">
            <h3 class="text-center mb-4">
                Editar Produto
            </h3>
            <form action="{{ url_for('atualizar_produto', id=produto.id) }}"
                  method="POST">
                <div class="mb-3">
                    <label class="form-label">
                        Nome
                    </label>
                    <input type="text"
                           name="nome"
                           class="form-control"
                           value="{{ produto.nome }}"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        Preço
                    </label>
                    <input type="number"
                           step="0.01"
                           name="preco_venda"
                           class="form-control"
                           value="{{ produto.preco_venda }}"
                           required>
                </div>
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-success w-100"> Atualizar </button>

                    <a href="{{ url_for('apagar_produto', id=produto.id) }}" class="btn btn-danger">Apagar</a>

                    <a href="{{ url_for('produto') }}" class="btn btn-secondary">Cancelar</a>
                </div>

            </form>
        </div>
    </div>
</body>
</html>